<section class="hero is-primary is-80vh is-fullheight">
  <!-- Hero head: will stick at the top -->
  <!-- Hero content: will be in the middle -->
  <div class="container hero-body">
    <div class="has-text-centered">
      <div class="columns is-multiline is-centered is-vcentered">
        <div class="column is-12-mobile is-6-desktop">
          <section class="image is-256x256 center m-t-30">
            <%= image_tag 'home' %>
          </section>
        </div>
        <div class="column is-12 is-6-desktop">
          <h1>
            Take a shortcut,
          </h1>
          <h1>
            get famous now.
          </h1>
          <!--<p>Getting followers can take years.</p>
          <p>Let experts do it for you.</p>-->
          <%= link_to 'Buy an Instagram account', form_path, class: "button is-danger is-fullwidth m-t-10 m-b-10" %>
          <%= link_to 'I am an instagram expert', new_user_session_path, class: "button is-fullwidth" %>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
  </div>
</section>
<div class="container">
<div class="columns is-desktop is-multiline">
  <div class="column is-full-mobile is-one-third-desktop">
    <div class="card is-shady">
      <div class="card-image has-text-centered">
        <i class="fa fa-paw"></i>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Tristique senectus et netus et. </h4>
          <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-full-mobile is-one-third-desktop">
    <div class="card is-shady">
      <div class="card-image has-text-centered">
        <div class="image is-256x256">
          <%= image_tag 'filename' %>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Tempor orci dapibus ultrices in.</h4>
          <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
            sed risus.</p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-full-mobile is-one-third-desktop">
    <div class="card is-shady">
      <div class="card-image has-text-centered">
        <i class="fa fa-apple"></i>
      </div>
      <div class="card-content">
        <div class="content">
          <h4> Leo integer malesuada nunc vel risus. </h4>
          <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f8ff4c6f91e4b431ec6469c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
